{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block content
    %}

    <br><br><br>
    <form method="POST">
      <h3 align="center">Get Passwords</h3>
      <br>
      <div class="form-group">
        <label for="text">Get Passwords</label>
        <input
          type="text"
          class="form-control"
          id="nopass"
          name="nopass"
          placeholder="Get Passwords"
        />
      </div>
      <br>
      <button type="submit" class="btn btn-primary">Set Passwords</button>
    </form>

    <!-- {%for p in passwords:%}
        {%print(p.password)%} <br>
    {%endfor%} -->


    {% endblock %}