{% extends "base.html" %} {% block title %}Admin{% endblock %} {% block content
    %}


<div class = 'container'>

<br> 

<a class="button" href="/admin_IB_time">
    Start-Stop </a>
<br>

<a class="button" href="/admin_IB_motion">
    Set Motion   </a>

<br>

<a class="button" href="/admin_IB_reset">
    Reset Database </a>
<br>

<a class="button" href="/admin_IB_password">
    Password</a>
<br>

</div>

<style>

.button {
    background-color: #141414;
    border: 1px solid rgba(54, 54, 54, 0.6);
    font-weight: 600;
    position: relative;
    outline: none;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 45px;
    width: 130px;
    opacity: 1;
  }

.container {
  margin: 25px;
  width: 350px;
  height: 200px;
}

p {
  /* Center horizontally*/
  text-align: center;
}

</style>

    {% endblock %}