{% extends "base.html" %} {% block title %} Home {% endblock %} {% block content%}



  <head>
    <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
   <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>

    <body>


      <br> <br> <br> <br> <br>

      <div> 
        <h2> Welcome to ExMEAC 2022! </h2>
      </div>

     


  {%  endblock %}
